body{
    background-color: black;
}

.cases-section{
    width: 700px;
    height: 300px;
    background-color: lightgray;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    /*box-shadow: 10px 10px 20px white;*/
}

.cases-section div button{
    width:180px;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
}

.cases-section div button:hover{
    background-color: lightblue;
}

.cases-section div{
    position: relative;
    top: 15%;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}