*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background: #080808;
    color: #ffffff;
    overflow-x: hidden;
}

.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 100px;
    cursor: pointer;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span{
    color: #ff004f;
}

.header-col-1{
    flex-basis: 63%;
}

.header-col-2{
    position: relative;
    top: 22%;
    width: 350px;
    height: 350px;
    background-color: rgba(255, 255, 255, 0.74);
    border-radius: 100%;
    flex-basis: 35%;
}

.header-col-2 img{
    position: relative;
    left: 8%;
    width: 90%;
    border-radius: 15px;
}


/*About Section*/

#about{
    padding: 80px 0;
    color: #ababab;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 80%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #ffffff;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: #b54769;
    font-size: 14px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

/*Services section*/

#services{
    padding: 30px 0;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);
}


/*Projects section*/

#project{
    padding: 50px 0;
}

#project h1{
    margin: 1rem;
    text-align: center;
    font-size: 5rem;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #ffffff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}


/*Assignment section*/


/*.assignment h1{*/
/*    margin: 1rem;*/
/*    text-align: center;*/
/*    font-size: 5rem;*/
/*}*/

/*.assignment-container{*/
/*    width: 90%;*/
/*    !*margin: 50px auto 0;*!*/
/*    display: grid;*/
/*    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));*/
/*    !*grid-template-columns: repeat(3,1fr);*!*/
/*    justify-content: center;*/
/*    grid-gap: 40px;*/
/*    border-radius:20%;*/
/*    margin-top: 50px;*/
/*    margin-left: 70px;*/
/*}*/

/*.box{*/
/*    !*display: grid;*!*/
/*    !*grid-template-columns: repeat(auto-fit,minmax(250px,1fr));*!*/
/*    !*grid-gap: 40px;*!*/
/*    !*margin-top: 50px;*!*/

/*    height: 250px;*/
/*    position: relative;*/
/*    overflow: hidden;*/
/*    border-radius: 2rem;*/
/*    border: .2rem solid #080808;*/

/*}*/

/*.box .img{*/
/*    position: relative;*/
/*}*/

/*.box .img img{*/
/*    width: 100%;*/
/*    height: 310px;*/
/*    transform: scale(1);*/
/*    transition: transform 1s;*/
/*}*/

/*.box:hover .img img{*/
/*    transform: scale(1.2);*/
/*}*/

/*.box .content{*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    top: 5%;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    background: linear-gradient(rgba(0,0,0,0.1),#080808);*/
/*    padding: 0 4rem;*/
/*    box-sizing: border-box;*/
/*    transform: scaleX(0);*/
/*    transition: transform 0.5s;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    flex-direction: column;*/
/*    text-align: center;*/
/*}*/

/*.box:hover .content{*/
/*    transform: scaleX(1);*/
/*}*/

/*.box .content h2{*/
/*    margin: 0 auto;*/
/*    color: black;*/
/*    font-size: 3em;*/
/*    text-align: center;*/
/*}*/

/*.box .content a {*/
/*    display: inline-flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    width: 9rem;*/
/*    height: 3rem;*/
/*    background: #080808;*/
/*    border-radius: 20px;*/
/*    font-size: 18px;*/
/*    font-weight: bold;*/
/*    margin: .8rem 0 3rem;*/
/*    padding: 15px;*/
/*}*/

/*contact section*/

#contact{
    margin-top: 70px;
}

.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;
}

.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons{
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-8px);
}

.btn.btn2{
    display: inline-block;
    background: #ff004f;
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #ffffff;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    background: #ff004f;
}

/*Footer*/

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}

nav .fa-solid{
    display: none;
}

@media all and (max-width: 425px) {
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }

    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li{
        display: none;
    }

    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .header-text{
        margin-top: 30%;
        font-size: 15px;
    }

    .header-text h1{
        font-size: 25px;
    }
}

@media all and (max-width: 768px){

    .header-text{
        margin-top: 30%;
        font-size: 20px;
    }

    .header-text h1{
        font-size: 35px;
    }

    nav .fa-solid{
        display: block;
        font-size: 25px;
    }

    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    /*********************************/
    nav ul li{
        display: none;
        /*margin: 25px;*/
    }
    nav i{
        display: block;
    }
    /*********************************/

    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .header-col-1{
        flex-basis: 65%;
    }

    .header-col-2{
        position: relative;
        left: 10%;
        top: 30%;
        width: 200px;
        height: 200px;
        background-color: rgba(255, 255, 255, 0.74);
        border-radius: 100%;
        flex-basis: 35%;
    }

    .header-col-2 img{
        position: relative;
        left: 8%;
        width: 90%;
        border-radius: 15px;
    }

    .sub-title{
        font-size: 35px;
    }

    /*********************************************************/
    .services-list div{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    }
    /*********************************************************/

    .assignment h1{
        font-size: 35px;
    }

    #project h1{
        font-size: 35px;
    }

    .about-col-1{
        flex-basis: 30%
    }

    .about-col-2{
        flex-basis: 70%;
    }

    .about-col-1{
        margin-bottom: 30px;
    }

    .about-col-2{
        font-size: 14px;
    }

    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }

    .contact-left, .contact-right{
        flex-basis: 100%;
    }

    .copyright{
        font-size: 14px;
    }

    .assignment-container{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
        margin-left: 40px;
    }

    .assignment-container h2{
        position: relative;
        left: -30px;
    }

    .work-list{
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media all and (max-width: 1024px){

    .assignment-container{
        margin-left: 50px;
    }

    nav .fa-solid{
        display: block;
        font-size: 25px;
    }

    .header-col-1{
        flex-basis: 55%;
    }

    .header-col-2{
        position: relative;
        top: 8%;
        width: 290px;
        height: 290px;
        background-color: rgba(255, 255, 255, 0.74);
        border-radius: 100%;
        flex-basis: 45%;
    }

    .header-text h1{
        font-size: 41px;
    }

    .header-col-2 img{
        position: relative;
        left: 8%;
        width: 90%;
        border-radius: 15px;
    }
}